.DS_Store
.git/
.ipynb_checkpoints/
.virtual_documents/
.gitignore.swp


artifacts/*
!artifacts/model.pkl
!artifacts/preprocessor.pkl
!artifacts/evaluation_report.json

logs/
Modeling Earthquake Damage.docx

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

Thumbs.db
# IDE settings
.vscode/
.idea/